<%# <% do not display %>
<%# <%=  to dispay %>
<div class="container">
  <h1>Stupid Coaching</h1>

  <div class="display">
    <p><%= @ask %></p>
    <p>-You</p>
  </div>
  <div class="display answer">
    <p><strong><%= @answer %></strong></p>
    <p>-Your coach</p>
  </div>

  <%= link_to "Ask another question", ask_path %>
</div>
