// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  padding: 16px
}

.display {
  margin: 16px 0px;
  padding: 8px 16px;
  border-left: 8px solid rgb(217, 216, 216);
}

.answer {
  background-color: rgb(255, 255, 220);
}
